<div class="post-place-wrapper">
  <div class="post-place-container" *ngIf="!submitted">
    <h1 class="post-place-title">Objavi Nov Izlet</h1>
    <form
      (ngSubmit)="onSubmit()"
      #postPlaceForm="ngForm"
      class="post-place-form"
    >
      <div class="form-group">
        <label for="placeName">Ime Kraja / Izleta</label>
        <input
          type="text"
          id="placeName"
          [(ngModel)]="placeName"
          name="placeName"
          #placeNameVariable="ngModel"
          required
        />
        <div *ngIf="placeNameInvalid()" class="post-place-error">
          Prekratko ime za izlet.
        </div>
        <div
          *ngIf="placeNameInvalidBackend && !placeNameInvalid()"
          class="post-place-error"
        >
          {{ placeNameInvalidBackendValue }}
        </div>
      </div>
      <div class="form-group">
        <label for="coordinates">Koordinate</label>
        <input
          type="text"
          id="coordinates"
          [(ngModel)]="coordinates"
          name="coordinates"
          placeholder="Lat, Lon"
        />
        <div *ngIf="coordinatesInvalid()" class="post-place-error">
          Nepravilni podani koordinati.
        </div>
      </div>
      <div class="form-group">
        <label for="imageUrl">URL Slike</label>
        <input
          type="text"
          id="imageUrl"
          required
          [(ngModel)]="imageUrl"
          name="imageUrl"
        />
        <div *ngIf="invalidUrl()" class="post-place-error">Nepravilen URL.</div>
      </div>
      <div class="form-text-area">
        <label for="description">Opis Kraja / Izleta</label>
        <textarea
          type="text"
          id="description"
          required
          [(ngModel)]="description"
          name="description"
          placeholder="Formatiraj opis"
        ></textarea>
        <div *ngIf="invalidDescription()" class="post-place-error-text-area">
          Prekratek opis.
        </div>
      </div>
      <div class="form-group">
        <label for="region">Regija Izleta</label>
        <select id="region" [(ngModel)]="region" name="region">
          <option *ngFor="let reg of regions" [value]="reg">{{ reg }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="tripType">Tip Izleta</label>
        <select id="tripType" name="tripType" [(ngModel)]="tripType">
          <option *ngFor="let trip of tripTypes" [value]="trip">
            {{ setTripType(trip) }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="budget">Cena Izleta</label>
        <select name="budget" id="budget" [(ngModel)]="budget">
          <option *ngFor="let bud of budgetValues" [value]="bud">
            {{ setBudget(bud) }}
          </option>
        </select>
      </div>
      <div class="form-group-added-button">
        <label for="attractions">Zanimivosti Izleta</label>
        <input
          type="text"
          id="attractions"
          [(ngModel)]="attraction"
          name="attraction"
        />
        <button
          class="attractions-button"
          type="button"
          (click)="addAttraction()"
        >
          Dodaj zanimivost
        </button>
        <div class="attractions-number">
          Število trenutnih zanimivosti: {{ this.attractions.length }}
        </div>
        <div *ngIf="attractionsError" class="post-place-error-added-button">
          Dodaj vsaj 2 zanimivosti.
        </div>
      </div>
      <div class="form-submit">
        <button type="submit" class="submit-btn">Dodaj Izlet</button>
      </div>
    </form>
  </div>
  <div *ngIf="submitted" class="post-place-container">
    <p class="submit-description">
      Izlet je bil uspešno shranjen v podatkovno bazo.
    </p>
    <button routerLink="/" class="submit-btn">Domov</button>
  </div>
</div>
