<div class="post-place-wrapper">
  <div class="post-place-container">
    <h1 class="post-place-title">Objavi Nov Izlet</h1>
    <form
      (ngSubmit)="onSubmit()"
      #postPlaceForm="ngForm"
      class="post-place-form"
    >
      <div class="form-group">
        <label for="placeName">Ime Kraja / Izleta</label>
        <input
          type="text"
          id="placeName"
          [(ngModel)]="placeName"
          name="placeName"
          #placeNameVariable="ngModel"
        />
        <div *ngIf="placeNameInvalid()" class="post-place-error">Error</div>
      </div>
      <div class="form-group">
        <label for="coordinates">Koordinate</label>
        <input
          type="text"
          id="coordinates"
          [(ngModel)]="coordinates"
          name="coordinates"
        />
      </div>
      <div class="form-group">
        <label for="imageUrl">URL Slike</label>
        <input
          type="text"
          id="imageUrl"
          required
          [(ngModel)]="imageUrl"
          name="imageUrl"
        />
      </div>
      <div class="form-group">
        <label for="description">Opis Kraja / Izleta</label>
        <input
          type="text"
          id="description"
          required
          [(ngModel)]="description"
          name="description"
        />
      </div>
      <div class="form-group">
        <label for="region">Regija Izleta</label>
        <select id="region" [(ngModel)]="region" name="region">
          <option *ngFor="let reg of region" [value]="reg">{{ reg }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="budget">Cena Izleta</label>
        <select name="budget" id="budget" [(ngModel)]="budget">
          <option *ngFor="let bud of budgetValues" [value]="bud">
            {{ setBudget(bud) }}
          </option>
        </select>
      </div>
      <div class="form-group-added-button">
        <label for="attractions">Zanimivosti Izleta</label>
        <input
          type="text"
          id="attractions"
          [(ngModel)]="attraction"
          name="attraction"
        />
        <button class="attractions-button" (click)="addAttraction()">
          Dodaj zanimivost
        </button>
      </div>
      <div class="form-submit">
        <button type="submit" class="submit-btn">Dodaj Izlet</button>
      </div>
    </form>
  </div>
</div>
