.place {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #dbdbdb;
  border-radius: 1.25rem;
  color: #656565;
  cursor: pointer;
}

.place-upper-wrapper {
  width: 100%;
  min-height: 3rem;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.place-upper {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-color);
  margin: 0 auto;
}

.place-title {
  text-align: start;
  font-size: 1.4rem;
}

.place-lower {
  width: 90%;
  height: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.place-description {
  width: 100%;
  height: 100%;
  padding: 1rem 0;
  font-family: "SF-Regular";
  color: #aaa9a9;
  word-wrap: break-word;
}
