.place {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #dbdbdb;
  border-radius: 1.25rem;
  color: #656565;
  max-height: 8rem;
}

.place-upper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
  padding: 10px;
  box-sizing: border-box;
  color: var(--main-color);
}

.place-title {
  text-align: start;
  font-size: 1.4rem;
}

.place-lower {
  width: 90%;
  height: 6rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.place-description {
  padding: 1rem 0;
  font-family: "SF-Regular";
}

.attractions {
  width: 100%;
  font-size: 0.8rem;
  font-family: "SF-Regular";
  padding: 10px;
  text-align: start;
  box-sizing: border-box;
}
