.submit-button {
  color: white;
  background-color: var(--main-color);
  width: 5.75rem;
  height: 2rem;
  border-radius: 1.25rem;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
}

.select-trip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  height: 50vh;
  width: 100%;
  position: relative;
  font-family: "SF-Regular";
}

.select-trip-title {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2rem;
  color: var(--main-color);
  font-family: "SF-Bold";
}

#region {
  width: 18.875rem;
  height: 2.625rem;
  margin-bottom: 2rem;
  position: relative;
  font-family: "SF-Medium";
}

#trip-type {
  width: 18.875rem;
  height: 2.625rem;
  margin-bottom: 2rem;
  position: relative;
  font-family: "SF-Medium";
}

#budget {
  width: 18.875rem;
  height: 2.625rem;
  margin-bottom: 1.3rem;
  position: relative;
  font-family: "SF-Medium";
}

.input-select {
  font-family: "SF-Regular";
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 1.25rem;
  border: 1px solid #dbdbdb;
  color: var(--main-color);
  margin: 0;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background-image: linear-gradient(
      45deg,
      transparent 50%,
      var(--main-color) 50%
    ),
    linear-gradient(135deg, var(--main-color) 50%, transparent 50%),
    linear-gradient(to right, white, white);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
}

.input-select:focus {
  background-image: linear-gradient(
      45deg,
      var(--main-color) 50%,
      transparent 50%
    ),
    linear-gradient(135deg, transparent 50%, var(--main-color) 50%),
    linear-gradient(to right, white, white);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
  font-family: "SF-Regular";
}

.error-msg-trip-type {
  width: 18.875rem;
  height: 0.6rem;
  font-size: 0.6rem;
  color: rgb(245, 67, 67);
  text-align: start;
  box-sizing: content-box;
  padding-left: 0.5rem;
  position: absolute;
  top: 45px;
}

.error-msg-region {
  width: 18.875rem;
  height: 0.6rem;
  font-size: 0.6rem;
  color: rgb(245, 67, 67);
  text-align: start;
  box-sizing: content-box;
  padding-left: 0.5rem;
  position: absolute;
  top: 45px;
}

.info-msg {
  width: 90%;
  height: 4rem;
  color: white;
  color: rgb(192, 192, 192);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  position: absolute;
  bottom: 10px;
}

.error-input-select {
  width: 18.875rem;
  height: 2.625rem;
  margin-bottom: 1.1rem;
  background-color: rgb(245, 67, 67);
  border: 1px solid rgb(192, 6, 6);
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 1.25rem;
  color: var(--main-color);
  margin: 0;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: linear-gradient(
      45deg,
      transparent 50%,
      var(--main-color) 50%
    ),
    linear-gradient(135deg, var(--main-color) 50%, transparent 50%),
    linear-gradient(to right, white, white);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
  font-family: "SF-Regular";
}

.error-input-select:focus {
  background-image: linear-gradient(
      45deg,
      var(--main-color) 50%,
      transparent 50%
    ),
    linear-gradient(135deg, transparent 50%, var(--main-color) 50%),
    linear-gradient(to right, white, white);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
  font-family: "SF-Regular";
}

@media screen and (min-width: 1200px) {
  .select-trip-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    height: 6rem;
  }

  #region {
    width: 20rem;
    height: 3.5rem;
    position: relative;
  }

  #trip-type {
    position: relative;
    width: 20rem;
    height: 3.5rem;
  }

  #budget {
    width: 20rem;
    height: 3.5rem;
    position: relative;
    font-family: "SF-Regular";
  }

  .input-select {
    font-size: 1rem;
  }

  .input-select {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 1.25rem;
    border: 1px solid #dbdbdb;
    color: var(--main-color);
    margin: 0;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    background-image: linear-gradient(
        45deg,
        transparent 50%,
        var(--main-color) 50%
      ),
      linear-gradient(135deg, var(--main-color) 50%, transparent 50%),
      linear-gradient(to right, white, white);
    background-position: calc(100% - 20px) calc(1em + 8px),
      calc(100% - 15px) calc(1em + 8px), 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
  }

  .input-select:focus {
    background-image: linear-gradient(
        45deg,
        var(--main-color) 50%,
        transparent 50%
      ),
      linear-gradient(135deg, transparent 50%, var(--main-color) 50%),
      linear-gradient(to right, white, white);
    background-position: calc(100% - 15px) 1.5em, calc(100% - 20px) 1.5em,
      100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
  }

  .input-select option {
    font-size: 1rem;
  }

  .error-input-select {
    font-size: 1rem;
    width: 18.875rem;
    height: 2.625rem;
    margin-bottom: 1.1rem;
    background-color: rgb(245, 67, 67);
    border: 1px solid rgb(192, 6, 6);
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 1.25rem;
    color: var(--main-color);
    margin: 0;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: linear-gradient(
        45deg,
        transparent 50%,
        var(--main-color) 50%
      ),
      linear-gradient(135deg, var(--main-color) 50%, transparent 50%),
      linear-gradient(to right, white, white);
    background-position: calc(100% - 20px) calc(1em + 8px),
      calc(100% - 15px) calc(1em + 8px), 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
  }

  .error-input-select:focus {
    background-image: linear-gradient(
        45deg,
        var(--main-color) 50%,
        transparent 50%
      ),
      linear-gradient(135deg, transparent 50%, var(--main-color) 50%),
      linear-gradient(to right, white, white);
    background-position: calc(100% - 15px) 1.5em, calc(100% - 20px) 1.5em,
      100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
  }

  .error-msg-trip-type {
    width: 20rem;
    height: 0.8rem;
    font-size: 0.8rem;
    color: rgb(245, 67, 67);
    text-align: start;
    font-family: "SF-Medium";
    box-sizing: content-box;
    padding-left: 0.5rem;
    position: absolute;
    top: 60px;
  }

  .error-msg-region {
    width: 20rem;
    height: 0.8rem;
    font-size: 0.8rem;
    color: rgb(245, 67, 67);
    text-align: start;
    font-family: "SF-Medium";
    box-sizing: content-box;
    padding-left: 0.5rem;
    position: absolute;
    top: 60px;
  }
}
